/*
    MP3PL, a small mp3 and flac player 
    -------------------------------------------------------------------
    Copyright (c) 2002-2020 Adrian Petrila, YO3GFH
    Uses the BASS sound system by Ian Luck (http://www.un4seen.com/)
    Inspired by the examples included with the bass library.
    
    This was my "most ambitious" project at the time, right before being
    drafted in the army. Dugged out recently and dusted off to compile with
    Pelle's C compiler.
    
                                * * *
                                
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

                                * * *

    Features
    ---------
    
        - play mp3 and flac files
        - save and load playlists
        - volume, spectrum analyzer and waveform (scope) display
        
    Please note that this is cca. 20 yesrs old code, not particullary something
    to write home about :-))
    
    It's taylored to my own needs, modify it to suit your own. I'm not a professional programmer,
    so this isn't the best code you'll find on the web, you have been warned :-))

    All the bugs are guaranteed to be genuine, and are exclusively mine =)
*/

// RESOURCE SCRIPT generated by "Pelles C for Windows, version 9.00".

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

101 DIALOGEX DISCARDABLE 0, 0, 532, 272
STYLE WS_POPUP|DS_CENTER|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_VISIBLE
CAPTION "Dialog"
MENU 105
FONT 8, "Tahoma", 0, 0, 1
{
  CONTROL "", 1000, "SysListView32", LVS_REPORT|LVS_SHOWSELALWAYS|LVS_NOSORTHEADER, 2, 0, 528, 192, WS_EX_CLIENTEDGE
  CONTROL " Volume ", 1008, "Button", BS_GROUPBOX, 4, 220, 268, 48
  CONTROL "", 1009, "msctls_trackbar32", TBS_NOTICKS, 8, 204, 492, 12
  CONTROL " Position ", 1010, "Button", BS_GROUPBOX, 4, 196, 524, 24
  CONTROL "", 1011, "msctls_trackbar32", TBS_NOTICKS, 8, 232, 108, 12
  CONTROL "100%", 1012, "Static", SS_RIGHT|WS_GROUP, 120, 232, 20, 8
  CONTROL "00:00", 1013, "Static", SS_RIGHT|WS_GROUP, 502, 204, 20, 8
  CONTROL "", 1017, "Static", SS_WHITERECT, 161, 228, 100, 36
  CONTROL "", 1666, "Static", SS_WHITERECT, 24, 246, 111, 16
  CONTROL "R", -1, "Static", SS_RIGHT|WS_GROUP, 10, 246, 8, 8
  CONTROL "L", -1, "Static", SS_RIGHT|WS_GROUP, 10, 256, 8, 8
  CONTROL " Playback devices ", 4001, "Button", BS_GROUPBOX, 278, 220, 249, 48
  CONTROL "", 4002, "ListBox", LBS_NOINTEGRALHEIGHT|LBS_NOTIFY|WS_VSCROLL|WS_TABSTOP, 286, 230, 234, 32, WS_EX_CLIENTEDGE
}

105 MENU
{
  POPUP "&File"
  {
    MENUITEM "&Open playlist...\tCtrl+O", -25521
    MENUITEM "&Save playlist...\tCtrl+S", -25520
    MENUITEM SEPARATOR
    MENUITEM "&Quit\tCtrl+Q", -25534
  }
  POPUP "&Playlist"
  {
    MENUITEM "&Add to playlist...\tCtrl+Ins", -25533
    MENUITEM SEPARATOR
    MENUITEM "S&elect all\tCtrl+A", -25526
    MENUITEM "&Clear all\tShift+Del", -25531
    MENUITEM "&Remove item\tDel", -25532
    MENUITEM SEPARATOR
    MENUITEM "&Play item\tSpace", -25530
    MENUITEM SEPARATOR
    MENUITEM "Pa&use playback\tCtrl+P", -25527
    MENUITEM "&Stop playback\tEsc", -25528
    MENUITEM "&Next\tCtrl+B", -25525
    MENUITEM SEPARATOR
    MENUITEM "Re&wind\tCtrl+Left Arrow", -25524
    MENUITEM "Fas&t-forward\tCtrl+Right Arrow", -25523
  }
  POPUP "&Help"
  {
    MENUITEM "&Keyboard shortcuts...", -25522
    MENUITEM SEPARATOR
    MENUITEM "&About...", -25529
  }
}

106 ACCELERATORS
{
  65, -25526, VIRTKEY, CONTROL, NOINVERT
  66, -25525, VIRTKEY, CONTROL, NOINVERT
  79, -25521, VIRTKEY, CONTROL, NOINVERT
  80, -25527, VIRTKEY, CONTROL, NOINVERT
  81, -25534, VIRTKEY, CONTROL, NOINVERT
  83, -25520, VIRTKEY, CONTROL, NOINVERT
  VK_DELETE, -25532, VIRTKEY, NOINVERT
  VK_DELETE, -25531, VIRTKEY, SHIFT, NOINVERT
  VK_ESCAPE, -25528, VIRTKEY, NOINVERT
  VK_INSERT, -25533, VIRTKEY, CONTROL, NOINVERT
  VK_LEFT, -25524, VIRTKEY, CONTROL, NOINVERT
  VK_RETURN, -25530, VIRTKEY, NOINVERT
  VK_RIGHT, -25523, VIRTKEY, CONTROL, NOINVERT
  VK_SPACE, -25530, VIRTKEY, NOINVERT
}

1 MANIFEST "res1.xml"

500 ICON "res1.ico"

501 ICON "res2.ico"

503 ICON "res3.ico"

